# OpenAI Settings
OPENAI_API_KEY=EMPTY
OPENAI_BASE_URL=http://localhost:1234/v1
OPENAI_MODEL=qwen3-30b-a3b-instruct-2507
# App Port
PORT=3000
# Max Name Length
MAX_NAME_LENGTH=15
# Concurrency for ALL requests(mainly for LLM RPM control)
LLM_CONCURRENCY=5
# CORS Origin, use semicolon to separate multiple origins
CORS_ORIGIN=http://localhost:5173